<script>
Dropzone.options.splitDropzone = {
	url: "{% url 'website:split' %}",
	paramName: "file",
	timeout: 300000,
  acceptedFiles: '.pdf',
	maxFilesize: 200,
	parallelUploads: 1,
  dictDefaultMessage: 'Drop PDF files here to upload',
  dictFileTooBig: 'Max file size is 200 Mb',
  dictInvalidFileType: 'Only PDF file can be uploaded',

	init: function() {
    this.on("addedfile", function(file) {
      el = $(file.previewElement);
      el.attr("file_uuid", uuidv1());
    });
    this.on("sending", function(file, xhr, form) {
      el = $(file.previewElement);
      form.set("file_uuid", el.attr("file_uuid"));
    });
    this.on("success", function(e) {
      dz = $('#split-dropzone');
      dz.find('input[name="file_uuid"]').remove()
      file_uuid = $(e.previewElement).attr("file_uuid");
      file_uuid_input = $('<input />').attr('type', 'hidden')
															        .attr('id', 'file_uuid')
															        .attr('name', 'file_uuid')
															        .attr('value', file_uuid);
      file_uuid_input.appendTo('#split-dropzone');
      dz.submit();
      file_uuid_input.remove();
    });
    this.on("processing", function(file, xhr, form) {
      dz = $('#split-dropzone')
    });
  }
};

Dropzone.options.mergeDropzone = {
	url: "{% url 'website:merge' %}",
	paramName: "file",
	timeout: 90000,
	maxFilesize: 200,
	maxFiles: 20,
  addRemoveLinks: true,
  acceptedFiles: '.pdf, .jpg, .jpeg, .png',

  dictInvalidFileType: 'Only [.pdf, .jpg, .jpeg, .png] files can be uploaded',
  dictDefaultMessage: 'Drop files here to upload',
  dictFileTooBig: 'Max file size is 200 Mb',
  dictMaxFilesExceeded: 'You can upload 20 files only',

  init: function() {
    this.on("addedfile", function(file) {
      el = $(file.previewElement);
      el.attr("file_uuid", uuidv1());
      $('#merge-dropzone-submit-btn').addClass('disabled')
        .attr("rel", "tooltip")
        .attr("data-title", "Upload some files first");
    });
    this.on("sending", function(file, xhr, form) {
      el = $(file.previewElement);
      form.append("file_uuid", el.attr("file_uuid"));
    });
    this.on("queuecomplete", function(e) {
      $('#merge-dropzone-submit-btn').removeClass("disabled").attr("rel", null).attr("data-title", null);
    });
    this.on("removedfile", function(e) {
      if ($('#merge-dropzone>div.dz-success').length == 0){
        $('#merge-dropzone-submit-btn').addClass('disabled')
        .attr("rel", "tooltip")
        .attr("data-title", "Upload some files first");
      }
    });
  }
};

</script>